*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: auto;
    width: auto;
}
body{
    background-color: #222831;
}
.navbar ul{
    background-color:#393E46;
    list-style: none;
    list-style-type:none;
    display :flex;
    justify-content: space-evenly;
    width: auto;
    height: 50px;
    align-items: center;
    margin-top: 0;
    
}
.navbar ul li {
   /* padding: 4px 10px 4px 10px;*/

}
a:hover{
    display: inline-block;
    background-color: #EEEEEE;
}
.btn{
    border: 1px solid #3498db;
    padding :10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    margin: 10px;
}
